{% extends "layout.html" %}

{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<h1>Log in</h1>
	
	<form action="/login" method="POST">
		<p>Username:<br>
		<input type="text" name="username"></p>
		
		<p>Password:<br>
		<input type="text" name="password"></p>
		
		<input type="hidden" name="csfr-token" value="{{ session.get('csfr-token') }}">
		<input type="submit" value="Log In">
	</form>
	<br>
	<p>No account? Make one here: </p>
	<a href="{{ url_for('signup') }}">Sign Up</a>
{% endblock %}
