{% extends "layout.html" %}

{% block content %}
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, msg in messages %}
				{% if category == "success" %}
					<div class="flash-success">
						<p>{{msg}}</p>
					</div>
				{% elif category == "error" %}
					<div class="flash-error">
						<p>{{msg}}</p>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}

	<div class="horizontal-flex center-x">
		<div class="vertical-flex center-y">
			<span class="fs-30 dark-text mb-15">Log in</span>
			
			<form action="/login" method="POST">
				<div class="username-tab mb-15">
					<p>Username:<br>
					<input class="big-input" type="text" name="username" maxlength="20"></p>
				</div>

				<div class="password-tab mb-15">
					<p>Password:<br>
					<input class="big-input" type="password" name="password" maxlength="128" autocomplete="off"></p>
				</div>

				<input type="hidden" name="csfr-token" value="{{ session.get('csfr-token') }}">
				<div class="horizontal-flex center-x">
					<input type="submit" class="big-submit mb-15" value="Log In">
				</div>
			</form>
			<div class="mr-auto">
				<span>No account? Make one here: </span><br>
				<a class="standard-link" href="{{ url_for('signup') }}">Sign Up</a>
			</div>
		</div>
	</div>
{% endblock %}
