{% extends "layout.html" %}

{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<h1>Sign Up</h1>
	
	<form action="/signup" method="POST">
		<p>Username:<br>
		<input type="text" name="username" maxlength="20"></p>
		
		<p>Password:<br>
		<input type="text" name="password" maxlength="128"></p>
		<p>Your password must include:</p>
		<ul class="signup-list">
			<li><p>8 to 128 characters.</p></li>
		</ul><br>
		
		<input type="hidden" name="csfr-token" value="{{ session.get('csfr-token') }}">
		<input type="submit" value="Sign Up">
	</form>

{% endblock %}
