{% extends "admin/control_panel.html" %}

{% block controls_content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="controls">
        <h1>Add a genre</h1>
        <form action="/control_panel/add_genre" method="POST">
            <div class="first-element">
                <p>Name:</p>
                <input type="text" name="genre_name">
                <input type="hidden", name="csfr-token" value="{{ session.get('csfr-token') }}">
                <input type="submit" value="Add a genre">
            </div>
        </form>
        <p>Must be at most 28 characters.</p>
    </div>
{% endblock %}
