body {
	background-color: #f0f0f0;
	margin: 0;
	font-family: Arial, Helvetica, sans-sherif;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
}

* {
	text-decoration: none;
	list-style-type: none;
	color: black;
}

.header-link {
	margin-right: 20px;
	font-size: 22px;
}

.header-link:hover {
	color: #830000;
	border-bottom: solid #830000 4px;
	border-radius: 3px;
}

.small-link:hover {
	text-decoration: underline;
}

.header-wrap {
	background-color: #ffb20b;
	border-bottom: 1px solid black;
}

.primary-header, .content-wrap {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

.primary-header {
	display: flex;
	justify-content: space-between;
	background-color: #ffb20b;
	margin-left: auto;
	margin-right: auto;
}

.primary-middle-panel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.primary-right-panel {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

.right-panel-list {
	display: flex;
}

.middle-panel-list {
	display: flex;
}

.content-wrap {
	background-color: white;
	box-shadow: 0 1px 2px rgb(0 0 0 / 25%)
}

.content {
	padding: 10px;
}

.content * {
	margin: 0;
}

.signup-list li {
	list-style-type: disc;
}

.search-bar input {
	margin-top: 10px;
	min-width: 60px;
	height: 3rem;
	border-radius: 8px;
	padding: 0 10px;
	font-size: 20px;
}

.horizontal-flex {
	display: flex;
}

.left-nav ul {
	padding: 0;
	margin-right: auto;
}

#separator {
	width: 1px;
	height: auto;
	background-color: #b9b9b9;
	margin: 0 20px 0 20px;
	background: linear-gradient(to bottom, #b9b9b900 0%, #8f8f8f 15%, 
									   #8f8f8f 85%, #b9b9b900 100%);
}

.page-header {
	border-bottom: 2px solid #b9b9b9;
}

.first-element {
	margin-top: 20px;
}

.second-element {
	margin: 20px 0 20px 0;
}

.last-element {
	margin-bottom: 20px;
}

.checkbox-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
	max-width: 400px;
	min-width: 400px;
}

.genre_option {
	flex: 1 0 50%;
	margin-bottom: 4px;
}

textarea {
	resize: vertical;
}

.sub-header {
	margin-right: 20px;
}

.textarea {
	white-space: pre-line;
}

.game {
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;
	border: solid black 1px;
	background-color: #d5d1e9;
}

.game-info {
	display: flex;
	gap: 80px;
}

.game a {
	margin-left: 10px;
}

.game div {
	margin-right: 10px;
}

.nav-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 640px) {
	.genre_option {
		flex: 0 0 100%;
	}
}

/* .checkbox-wrap {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Adjust the gap between items as needed
}

.genre_option {
	display: flex;
    align-items: center;
} */
