{% extends "layout.html" %}

{% block content %}
    <div class="vertical-flex center-y content">
        <span class="dark-text fs-30 u-line">Review for {{ game.name }}</span>

        <form action="{{ url_for('create_review', game_name=game.name) }}" method="POST">
            <p class="mt-10 mb-10">Title:<br>
            <input class="title-input fs-14" type="text" name="title" placeholder="Type something..." autocomplete="on" maxlength="100" value="{{ title }}"></p>
            
            <p class="mt-10 mb-10">Content:<br>
            <textarea class="big-input fs-14" name="content" placeholder="Type something..." spellcheck="false" autocomplete="on" maxlength="20000">{{ content }}</textarea></p>

            <p>Score:
                <select class="fs-14 mt-10 mb-10" name="score" autocomplete="on">
                    <option selected disabled hidden>-</option>
                    {% for i in range(10, 0, -1) %}
                        <option value="{{ i }}" {% if i == score|int %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </p>

            <input type="hidden" name="csfr-token" value="{{ session.get('csfr-token') }}">
            <input class="big-submit fs-14 mt-10" type="submit" value="Publish">
        </form>
    </div>
{% endblock %}
