{% extends "games/game_page.html" %}

{% block game_content %}
    <div class="content">
        <!-- POSTS -->
        <div class="">
            <div class="sub-header">
                <a class="" href="{{ url_for('create_post', game_name=game.name) }}">Create a post</a>
            </div>
            <br>

            <div class="posts">
                {% for post in posts %}
                    <a href="{{ url_for('post_page', game_name=game_url, post_id=post.id) }}">
                        <div class="post game">
                            {{ post.title }}
                            | Created by: {{ post.username }}
                            Created at: {{ post.created_at }}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <!-- PAGE NAVIGATION -->
        <div class="nav-wrap">
            {% if page > 1 %}
                <a class="standard-link nav-link" href="{{ url_for('game_posts', game_name=game_url, page=1) }}">«</a>
                <a class="standard-link nav-link" href="{{ url_for('game_posts', game_name=game_url, page=page-1) }}">&lt;</a>
            {% endif %}
            
            {% for i in range(page_range[0], page_range[1] + 1) %}
                {% if i == page %}
                    <span class="dark-text margin-6">{{ i }}</span>
                {% else %}
                    <a class="standard-link nav-link" href="{{ url_for('game_posts', game_name=game_url, page=i) }}">{{ i }}</a>
                {% endif %}
            {% endfor %}

            {% if page < total_pages %}
                <a class="standard-link nav-link" href="{{ url_for('game_posts', game_name=game_url, page=page+1) }}">&gt;</a>
                <a class="standard-link nav-link" href="{{ url_for('game_posts', game_name=game_url, page=total_pages) }}">»</a>
            {% endif %}
        </div>
    </div>
{% endblock %}