{% extends "games/game_page.html" %}

{% block game_content %}
    <!-- POSTS -->
    <div class="">
        <div class="sub-header">
            <a class="" href="{{ url_for('create_post', game_name=game.name) }}">Create a post</a>
        </div>
        <br>

        <div class="posts">
            {% for post in posts %}
                <a href="{{ url_for('post_page', game_name=game.name, post_id=post.id) }}">
                    <div class="post game">
                        {{ post.title }}
                        | Created by: {{ post.get_poster() }} |
                        Created at: {{ post.formatted_date() }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <!-- PAGE NAVIGATION -->
    <div class="nav-wrap">
        {% if posts.has_prev %}
            <a class="small-link" href="{{ url_for('game_posts', page=posts.prev_num) }}">&lt; Previous</a>
        {% endif %}
        
        {% for page in posts.iter_pages() %}
            {{ page }}
        {% endfor %}
        
        {% if posts.has_next %}
            <a class="small-link" href="{{ url_for('game_posts', page=posts.next_num) }}">Next &gt;</a>
        {% endif %}
    </div>
{% endblock %}