{% extends "games/game_page.html" %}

{% block game_content %}
    <div class="content">
        <!-- REVIEWS -->
        <div class="">
            <div class="sub-header mb-5">
                <a href="{{ url_for('create_review', game_name=game.name) }}">Create a review</a>
            </div>
            <hr>

            <div class="posts mt-20">
                {% for review in reviews %}
                    <a href="{{ url_for('review_page', game_name=game.name, review_id=review.id) }}">
                        <div class="content-selector">
                            <span>{{ review.title }}</span>
                            <div class="content-info">
                                <div class="pb-5">Reviewed by: {{ review.username }}</div> 
                                <div>Published on {{ review.created_at }}</div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <!-- PAGE NAVIGATION -->
        <div class="nav-wrap">
            {% if page > 1 %}
                <a class="standard-link nav-link" href="{{ url_for('game_reviews', game_name=game_url, page=1) }}">«</a>
                <a class="standard-link nav-link" href="{{ url_for('game_reviews', game_name=game_url, page=page-1) }}">&lt;</a>
            {% endif %}
            
            {% for i in range(page_range[0], page_range[1] + 1) %}
                {% if i == page %}
                    <span class="dark-text margin-6">{{ i }}</span>
                {% else %}
                    <a class="standard-link nav-link" href="{{ url_for('game_reviews', game_name=game_url, page=i) }}">{{ i }}</a>
                {% endif %}
            {% endfor %}

            {% if page < total_pages %}
                <a class="standard-link nav-link" href="{{ url_for('game_reviews', game_name=game_url, page=page+1) }}">&gt;</a>
                <a class="standard-link nav-link" href="{{ url_for('game_reviews', game_name=game_url, page=total_pages) }}">»</a>
            {% endif %}
        </div>
    </div>
{% endblock %}