{% extends "layout.html" %}

{% block content %}
    <div class="content">
        <h1>Games</h1>
        <hr>
        <br>

        <!-- GAMES -->
        <div class="games-wrap">
            {% if games %}
                {% for game in games %}
                    <a class="small-link" href="games/{{ game.name }}">       
                        <div class="game">
                            <!--<img src="/static/images/image-placeholder.jpg">-->
                            <span>{{ game.name }}</span>
                            <div class="{{ 'game-info-logged' if session.get('user_id') else 'game-info' }}">
                                <div class="avg-score">
                                    {% if avg_scores[game.name] %}
                                        Average score: {{ avg_scores[game.name] }}
                                    {% else %}
                                        Average score: -
                                    {% endif %}
                                </div>
                                {% if session.get("user_id") %}
                                    <div class="user-score">
                                        {% if user_scores[game.name] %}
                                            Your score: {{ user_scores[game.name] }}
                                        {% else %}
                                            Your score: -
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <div class="release">Released on: {{ game.release_date }}</div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <h2>No games :c</h2>
            {% endif %}
        </div>

        <!-- PAGE NAVIGATION -->
        <div class="nav-wrap">
            {% if page > 1 %}
                <a class="standard-link nav-link" href="{{ url_for('game_browse', page=page-1) }}">&lt;</a>
                {% if page > 3 %}
                    <a class="standard-link nav-link" href="{{ url_for('game_browse', page=1) }}">1</a>
                {% endif %}
                <span>.....</span>
            {% endif %}
            
            {% for i in range(page_range[0], page_range[1] + 1) %}
                {% if i == page %}
                    <span class="dark-text margin-6">{{ i }}</span>
                {% else %}
                    <a class="standard-link nav-link" href="{{ url_for('game_browse', page=i) }}">{{ i }}</a>
                {% endif %}
            {% endfor %}

            {% if page < total_pages %}
                <span>.....</span>
                {% if page < 8 %}
                    <a class="standard-link nav-link" href="{{ url_for('game_browse', page=total_pages) }}">{{ total_pages }}</a>
                {% endif %}
                <a class="standard-link nav-link" href="{{ url_for('game_browse', page=page+1) }}">&gt;</a>
            {% endif %}
        </div>
    </div>
{% endblock %}