{% extends "layout.html" %}

{% block content %}
    <div>
        <h1>{{ post.title }}</h1>  
        <br>
        <p>{{ post.content }}</p>
    </div>

    <div>
        {% if replies.items %}
                {% for reply in replies %}
                    <hr>
                    <br>
                    <p>{{ reply.content }}
                    | Posted by {{ reply.user.username }} |
                    Posted at {{ reply.formatted_date() }}
                    </p>
                    <br>
                {% endfor %}
        {% endif %}
    </div>

    {% if session.get("user_id") %}
        <div>
            <hr>
            <br>
            <form action="{{ url_for('post_page', game_name=game.name, post_id=post.id) }}" method="POST">
                <p>Reply to the post:</p>
                <textarea name="content"></textarea>
                <input type="hidden" name="csfr-token" value="{{ session.get('csfr-token') }}">
                <input type="submit" value="Post">
            </form>
        </div>
    {% else %}
        <div>
            <hr>
            <br>
            <p>You need to be logged in to reply.</p>
        </div>
    {% endif %}
{% endblock %}