{% extends "layout.html" %}

{% block content %}
    <div class="content text-wrap">
        <div class="dark-text fs-20 text-center mb-15">{{ post.title }}</div>
        <div class="text-center mb-20">Created by 
            <a class="standard-link" href="{{ url_for('profile', username=post.username) }}">{{ post.username }}</a>
            | {{ post.created_at }}
        </div>
        <div class="">{{ post.content }}</div>
    </div>

    <div>
        {% if replies %}
            {% for reply in replies %}
                <div class="content mt-10 text-wrap">
                    <div class="reply-info-logged mb-20"><a class="standard-link" href="{{ url_for('profile', username=reply.username) }}">{{ reply.username }}</a> {{ reply.created_at }}</div>
                    <div class="text-lines">{{ reply.content }}</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% if session.get("user_id") %}
        <div class="content mt-30">
            <form action="{{ url_for('post_page', game_name=game.name, post_id=post.id) }}" method="POST">
                <p class="mb-10">Reply to the post:</p>
                <textarea class="" name="content"></textarea>
                <input type="hidden" name="csfr-token" value="{{ session.get('csfr-token') }}">
                <input type="submit" value="Post">
            </form>
        </div>
    {% else %}
        <div>
            <p>You need to be logged in to reply. <a href="{{ url_for('login') }}" class="standard-link">Log In</a></p>
        </div>
    {% endif %}

    <!-- PAGE NAVIGATION -->
    <div class="nav-wrap">
        {% if page > 1 %}
            <a class="standard-link nav-link" href="{{ url_for('post_page', game_name=game_url, post_id=post.id, page=1) }}">«</a>
            <a class="standard-link nav-link" href="{{ url_for('post_page', game_name=game_url, post_id=post.id, page=page-1) }}">&lt;</a>
        {% endif %}
        
        {% for i in range(page_range[0], page_range[1] + 1) %}
            {% if i == page %}
                <span class="dark-text margin-6">{{ i }}</span>
            {% else %}
                <a class="standard-link nav-link" href="{{ url_for('post_page', game_name=game_url, post_id=post.id, page=i) }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if page < total_pages %}
            <a class="standard-link nav-link" href="{{ url_for('post_page', game_name=game_url, post_id=post.id, page=page+1) }}">&gt;</a>
            <a class="standard-link nav-link" href="{{ url_for('post_page', game_name=game_url, post_id=post.id, page=total_pages) }}">»</a>
        {% endif %}
    </div>
{% endblock %}