<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Review and discuss games!">
	<meta name="author" content="Wirebin">
	
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>Game Review Site</title>
	{% endif %}
</head>

<body>
	<div class="container">
		<div class="header-wrap">
			<div class="primary-header">
				<div class="primary-middle-panel">
					<ul class="middle-panel-list">
						<li>
							<a id="home" class="header-link" href="{{ url_for('index') }}">Home</a>
						</li>
						<li>
							<a id="profile" class="header-link" href="{{ url_for('logged_profile', username=username) }}">Profile</a>
						</li>
						<li>
							<a id="game-list" class="header-link" href="">My List</a>
						</li>
						<li>
							<a id="games" class="header-link" href="{{ url_for('game_browse') }}">Games</a>
						</li>
					</ul>
				</div>
			
				<div class="search-bar">
					<form action="/search", method="GET" autocomplete="off">
						<input type="text" name="query" placeholder="Search games...">
					</form>
				</div>
			
				<div class="primary-right-panel">
					{% if session["user_id"] %}
						{% if session["access_level"] == "admin" %}
							<a class="header-link" href="{{ url_for('control_panel') }}">Control Panel</a>
						{% endif %}
						<a id="log-out" class="header-link" href="{{ url_for('logout') }}">Log Out</a>

					{% else %}
					<ul class="right-panel-list">
						<li>
							<a id="log-in" class="header-link" href="{{ url_for('login') }}">Log in</a>
						</li>
						<li>
							<a id="sign-up" class="header-link" href="{{ url_for('signup') }}">Sign up</a>
						</li>
					</ul>
					{% endif %}
				</div>
			</div>
		</div>
		
		<br>
		<div class="content-wrap">
			<div class="content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>

